@model IEnumerable<ProyectoMVC2022.Models.Cliente>

@{
    ViewData["Title"] = "ListaClientes";
    Layout = "~/Views/Shared/_CrudCliente.cshtml";
}
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-11">
        <h1 style="text-align:center;color:white;background:#212F3D;margin-top:10px;padding:8px;border:solid white">Lista de Clientes Registrados</h1>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-sm-12 col-md-12 col-lg-12" style="background: #2998BF">
            <div style="padding: 10px">
                <table class="table  table-dark table-striped table-bordered border-light  table-hover" id="myTable" style="background: white">
                    <thead>
                        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
                  <tr >
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
            @Html.ActionLink("Agregar", "Comprar", new { id=item.codigo },new { @class = "btn btn-warning" }) 
               
            </td>
        </tr>
}
    </tbody>
</table>

            </div>
        </div>
    </div>
</div>
